@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Stalemate&display=swap');

@import "tailwindcss";

body {
    font-family: 'Geist', sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}

.text-gradient {
    background: linear-gradient(to top, #302c63, #526dbe, #4e3c6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Fls {
    font-family: "Stalemate", cursive;
}

.non {
    background: transparent;
}
.status-icons{
    position: relative;
    margin-bottom: -60px;
    margin-left: -30px;
    padding: -1px;
}